<a href="https://colab.research.google.com/github/yarnikitin/-/blob/master/%D0%94%D0%97_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Задание 1: Проверка гипотез**

In [1]:
import pandas as pd

In [5]:
df1 = pd.read_csv('marketing_campaign.csv')
df2 = pd.read_csv('subscribers.csv')
df3 = pd.read_csv('users.csv')
df4 = df3.merge(df1, on = 'user_id', how = 'inner')
df_new = df4.merge(df2, on = 'user_id', how = 'inner')
df_new.head(10)

  user_id    age_group  ... date_canceled is_retained
0   a1000   0-18 years  ...           NaN        True
1   a1001  19-24 years  ...           NaN        True
2   a1002  24-30 years  ...           NaN        True
3   a1003  30-36 years  ...           NaN        True
4   a1004  36-45 years  ...           NaN        True
5   a1005  45-55 years  ...           NaN        True
6   a1006    55+ years  ...           NaN        True
7   a1007   0-18 years  ...           NaN        True
8   a1008  19-24 years  ...           NaN        True
9   a1009  24-30 years  ...           NaN        True

[10 rows x 12 columns]

In [7]:
dd = pd.crosstab(df_new['variant'], df_new['converted'])
dd

converted        False  True
variant
control           4705    371
personalization   4241    705

# **Проверка гипотез**
Гипотиза 1 : Разницы в конверсии между control и personalization нет
Гипотиза 2 : Разница есть

In [9]:
import scipy.stats as stats
result = stats.chi2_contingency(dd, correction = False)
chisq, pvalue = result[:2]
print('chisq = {}, pvalue = {}'.format(chisq, pvalue))

chisq = 126.07767827548582, pvalue = 2.9568009705199523e-29

Гипотиза 2 верна, так как есть большие различия в конверсиии групп. Вариант personalization лучше.

# **Задание 2: Цех может производить стулья и столы. На производство стула идет 5 единиц материала, на производство стола - 20 единиц (футов красного дерева). Стул требует 10 человеко-часов, стол - 15. Имеется 400 единиц материала и 450 человеко-часов. Прибыль при производстве стула - 45 долларов США, при производстве стола - 80 долларов США. Сколько надо сделать стульев и столов, чтобы получить максимальную прибыль?**

In [ ]:
import numpy as np

In [31]:
def value(x):
    return - 45*x[0] - 80*x[1]

In [32]:
neq_cons = {'type': 'ineq',
             'fun': lambda x: np.array ([400 - 5 * x [0] - 20 * x [0] - 20 * x[1],
                                         450 - 10  * x [0] - 15 * x[1]])}

In [33]:
from scipy.optimize import Bounds
bnds = Bounds([0, 0], [np.inf, np.inf])

In [34]:
from scipy.optimize import minimize
x0 = np.array([1000, 1000])
res = minimize(value, x0, method='SLSQP', constraints=neq_cons, bounds=bnds)
print(res.x)

[ 0. 20.]