<a href="https://colab.research.google.com/github/yarnikitin/-/blob/master/%D0%94%D0%97_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# **Загрузка**

In [ ]:
df1 = pd.read_csv('marketing_campaign.csv')
df1.head(10)

  user_id date_served  ... language_displayed converted
0   a1000      1/1/18  ...            English      True
1   a1001      1/1/18  ...            English      True
2   a1002      1/1/18  ...            English      True
3   a1003      1/1/18  ...            English      True
4   a1004      1/1/18  ...            English      True
5   a1005      1/1/18  ...             German      True
6   a1006      1/1/18  ...            English      True
7   a1007      1/1/18  ...            English      True
8   a1008      1/1/18  ...            English      True
9   a1009      1/1/18  ...            English      True

[10 rows x 6 columns]

In [ ]:
df2 = pd.read_csv('subscribers.csv')
df2.head(10)

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True
5   a1005           House Ads          1/1/18           NaN        True
6   a1006           House Ads          1/1/18           NaN        True
7   a1007           House Ads          1/1/18           NaN        True
8   a1008           House Ads          1/1/18           NaN        True
9   a1009           House Ads          1/1/18           NaN        True

In [ ]:
df3 = pd.read_csv('users.csv')
df3.head(10)

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English
5   a1005  45-55 years             German
6   a1006    55+ years            English
7   a1007   0-18 years            English
8   a1008  19-24 years            English
9   a1009  24-30 years            English

# **Соединение**

In [ ]:
df4 = df3.merge(df1, on = 'user_id' , how = 'inner')
df_merge = df4.merge(df2, on = 'user_id' , how = 'inner')
df_merge.head(10)

  user_id    age_group  ... date_canceled is_retained
0   a1000   0-18 years  ...           NaN        True
1   a1001  19-24 years  ...           NaN        True
2   a1002  24-30 years  ...           NaN        True
3   a1003  30-36 years  ...           NaN        True
4   a1004  36-45 years  ...           NaN        True
5   a1005  45-55 years  ...           NaN        True
6   a1006    55+ years  ...           NaN        True
7   a1007   0-18 years  ...           NaN        True
8   a1008  19-24 years  ...           NaN        True
9   a1009  24-30 years  ...           NaN        True

[10 rows x 12 columns]

# **Определение датасета**

In [ ]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   age_group            10037 non-null  object
 2   language_preferred   10037 non-null  object
 3   date_served          10021 non-null  object
 4   marketing_channel    10022 non-null  object
 5   variant              10037 non-null  object
 6   language_displayed   10037 non-null  object
 7   converted            10022 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

# **Определение по эффективности**

In [ ]:
df_merge['marketing_channel'].loc[df_merge['converted'] == True].value_counts()

House Ads    298
Instagram    265
Facebook     237
Email        193
Push          83
Name: marketing_channel, dtype: int64

# **Определение самой ранней подписки**

In [ ]:
df_merge['date_subscribed'].sort_values(ascending = True).head(1)

0    1/1/18
Name: date_subscribed, dtype: object

# **Определение аудитории** (по возрасту)

In [ ]:
df_merge['age_group'].loc[df_merge['is_retained'] == True].value_counts().head(10)

19-24 years    326
24-30 years    273
0-18 years     229
30-36 years    122
45-55 years    119
36-45 years    115
55+ years       95
Name: age_group, dtype: int64